@media (max-width:576px) {
    .carousel_title{
        font-size: 12px;      
    }
    .carousel_info{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .button-style{
        width: 70px;
        font-size: 10px;
        padding: 1px 8px;
        margin-top: 0px;
    }
}